{% extends 'base.html' %}
{% block content %}
    <header>
        <h2>Clientes</h2>
    </header>
    <main>
        {% load static %}
{#        <link rel="stylesheet" href="{% static 'usuarios/css/listarCliente.css' %}">#}
        <div class="clientes">
            {% for servico in servicos %}
                <div class="cliente">
                    <h3>Nome: {{ servico.nome }}</h3>

                    <h4>Descrição: {{ servico.descricao }}</h4>

                    <h4>Valor: R$ {{ servico.valor }}</h4>

                    <div class="actions">
                        <a href="editarCliente.jsp?id={{ cliente.id }}&nome={{ cliente.nome }}&endereco={{ cliente.endereco }}&telefone={{ cliente.telefone }}&cpf={{ cliente.cpf }}" class="btn btn-warning">Editar Dados</a>
                        <a href="deletarCliente?id={{ cliente.id }}" class="btn btn-danger">Deletar Cliente</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}